div.menu-lateral{
position: fixed;
top: 0px;

left: 0px;
width: 80px;
bottom: 0;
background-color: var(--medio-blue);
overflow-y: auto;
transition: all ease-in-out 0.5s;
box-shadow: 5px 0px 5px -2px rgba(0,255,255,0.75);
-webkit-box-shadow: 5px 0px 5px -2px rgba(0,255,255,0.75);
-moz-box-shadow: 5px 0px 5px -2px rgba(0,255,255,0.75);
height: 100vh;
}

div.menu-lateral .profile{
 // height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;

}
div.menu-lateral .profile> div{
  margin: auto 0;
  transition: 0.5s;

}
div.menu-lateral .profile button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: white;
}
div.menu-lateral .profile img{
  margin: 15px auto;
  display: block;
  width: 80px;
  height: 80px;
  border: 4px solid var(--royal-blue);
  border-radius: 50%;
}
div.menu-lateral .profile h1, span{
  color: var(--ligth-text);
  text-align: center;
}
div.menu-lateral .profile h1{
  font-size: 24px;
  font-weight: 600;
}
div.menu-lateral .profile span{
  font-family: var(--font-cursiva);
  font-size: 14px;
  margin: 0 20px;
}

div.menu-lateral .social-links a{
  color: var(--yellow);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 50px;
  transition: 0.5s;
  }
  div.menu-lateral .social-links a:hover{
    background-color: var(--ligth-Aqua);
    color: var(--dark-medium-grey);

  }

  div.expandFalse{
    width: 90px;

  }
  div.expandTrue{
    width: 300px;
    overflow: hidden;
  transition-duration: .2s;
    div.menu-lateral .profile .max-image img{
      width: 150px;
      height: 150px;
    }
  }

