<div class="footer">
  <div>
    <span> Todos os direitos reservados a EbDeveloper by Eduardo Barros </span>
  </div>
  <div>
    <a
      href="https://www.linkedin.com/in/barrosebs/"
      target="_blank"
      rel="noopener"
      title="LinkedIn"
    >
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a
      href="https://github.com/barrosebs"
      target="_blank"
      rel="noopener"
      title="Git"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://www.instagram.com/barrosebs/#"
      target="_blank"
      rel="noopener"
      title="Instagram"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
</div>
