nav.menu-lateral-corpo{
  display: flex;
  flex-direction: column;
  line-height: 45px;
}

nav.menu-lateral-corpo .item-menu{
  margin: 24px;
  margin-right: 0;
}
nav.menu-lateral-corpo .action{
  background-color: var(--royal-blue);
  margin-right: 0;
  //padding: 5px;
  border-radius: 5px 0 0 5px;
}
nav.menu-lateral-corpo .action span.icon{
  color: var(--ligth-Aqua);
}

nav.menu-lateral-corpo .item-menu a{
  color:var( --light-grey);
  font-size: 24px;
  gap: 8px;
}

nav.menu-lateral-corpo a .txt-link, .icon{
  margin-left: 12px;
}

nav.menu-lateral-corpo li.action >a{
  font-weight: 500;
  color: var(--ligth-text);
}
