#main{
  display: flex;
  flex-direction: column;
}
.home-header{
  background-image: url('./../../../assets/images/webp/rm373batch9-035.webp');
  background-size: cover;
  background-position: center;
  background-color: aqua;

  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: var(--ligth-text);
  display: flex;
  flex-direction: column;

}
.home-header div address{
  display: block;
  font-style: normal;
  font-weight: 600;

}
.home-header address a{
  color: var(--ligth-text);
  text-decoration: none;
}
.home-header address a:hover{
  color: var(--yellow);
  transition: 0.5s;
}
.home-header address a i{
padding: 5px;
}

.home-header div h2{
  font-size: 5vw;
  font-weight: 900;
  border-right: 4px solid;
  font-family: monospace;
  white-space: nowrap;
  width: 14ch;
  overflow: hidden;
  animation: typing 2s steps(14), blinking 0.5s infinite step-end alternate;
}
.home-header div p, a{
  font-size: 1.3em;
}
@keyframes typing {
from{
  width: 0;
}
}
@keyframes blinking {
  50%{
    border-color: transparent;
    margin-right: 10px;
  }

}

#portfolio,#habilidades, #curriculo{
padding: 0;
display: flex;
flex-direction: column;
justify-content: center;
}
.home-header  .contato{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
 width: 100%;
 max-width: 50%;
  margin: 20% auto;
}
.social-links ul{
  display: flex;

}

@media (max-width: 768px){

  .home-header div h2{
    font-size: 24px;
  }
}
