<main id="main">
  <section id="inicio" class="home-header">
    <div>
      <h2>Eduardo Barros</h2>
      <p>Desenvolvedor, Bacharel Sistemas de Informação, since 2017</p>
    </div>
  </section>
  <section id="sobre">
    <app-sobre></app-sobre>
  </section>
  <section id="habilidades">
    <app-habilidades></app-habilidades>
  </section>
  <section id="curriculo">
    <app-curriculo></app-curriculo>
  </section>
  <section id="portfolio">
    <app-portfolio></app-portfolio>
  </section>
</main>
