.home-header{
  background-image: url('./../../../assets/images/webp/rm373batch9-035.webp');
  background-size: cover;
  background-position: center;
  background-color: aqua;

  background-attachment: fixed;
  background-position: center;

  width: 100%;
  height: 100vh;
  color: var(--ligth-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home-header div{
  margin-top: -30vh;
  margin-left: 20vw;
}
.home-header div h2{
  font-size: 3em;
  font-weight: 900;
  border-right: 4px solid;
  font-family: monospace;
  white-space: nowrap;
  width: 14ch;
  overflow: hidden;
  animation: typing 2s steps(14), blinking 0.5s infinite step-end alternate;
}
@keyframes typing {
from{
  width: 0;
}
}
@keyframes blinking {
  50%{
    border-color: transparent;
    margin-right: 10px;
  }

}
#habilidades{
  padding: 8rem 0rem;
}
#portfolio{
padding: 0;
background-color: var(--ligth-text);

}
