<main id="main">
  <section id="inicio" class="home-header">
    <div>
      <app-header></app-header>
    </div>
    <div class="contato">
      <div>
        <h2>Eduardo Barros</h2>
        <p>Desenvolvedor, Bacharel Sistemas de Informação, since 2017</p>
        <address>
          <a href="mailto:barrosebs@gmail.com">
            <i class="fa-solid fa-at"></i>barrosebs@gmail.com</a
          >
          <br />
          <a href="wa.me/5571996407566">
            <i class="fa-brands fa-whatsapp"></i>71996407566</a
          >
          <div class="social-links">
            <ul>
              <li>
                <a
                  href="https://www.linkedin.com/in/barrosebs/"
                  target="_blank"
                  rel="noopener"
                  title="LinkedIn"
                >
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://github.com/barrosebs"
                  target="_blank"
                  rel="noopener"
                  title="Git"
                >
                  <i class="fa-brands fa-github"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/barrosebs/#"
                  target="_blank"
                  rel="noopener"
                  title="Instagram"
                >
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </address>
      </div>
    </div>
  </section>
  <section id="sobre">
    <app-sobre></app-sobre>
  </section>
  <section id="habilidades">
    <app-habilidades></app-habilidades>
  </section>
  <section id="curriculo">
    <app-curriculo></app-curriculo>
  </section>
  <section id="portfolio">
    <app-portfolio></app-portfolio>
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</main>
