<aside class="progress-bar" id="progress-bar">
  <div class="container">
    <div data-anime="left">
      <h3><i class="fa-solid fa-book"></i> Habilidades</h3>
      <p>
        Ao longo de minha trajetória como profissional de tecnologia, desenvolvi
        diversas habilidades, tanto técnicas quanto não técnicas. Neste momento,
        compartilho algumas delas, de acordo com a porcentagem de conhecimento
        estimo poussuir em cada uma delas.
      </p>
    </div>
    <div class="skill-box">
      <span class="title">HTML</span>
      <div class="skill-bar">
        <span class="skill-per html">
          <span class="tooltip">90%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">CSS</span>
      <div class="skill-bar">
        <span class="skill-per css">
          <span class="tooltip">70%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">JavaScript</span>
      <div class="skill-bar">
        <span class="skill-per javaScript">
          <span class="tooltip">60%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">Angular +2</span>
      <div class="skill-bar">
        <span class="skill-per angularMais">
          <span class="tooltip">60%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">AngularJs</span>
      <div class="skill-bar">
        <span class="skill-per angularJs">
          <span class="tooltip">60%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">BootStrap</span>
      <div class="skill-bar" data-anime="left">
        <span class="skill-per bootstrap">
          <span class="tooltip">70%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">.Net Framework</span>
      <div class="skill-bar">
        <span class="skill-per netFramework">
          <span class="tooltip">75%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">.Net Core</span>
      <div class="skill-bar">
        <span class="skill-per netCore">
          <span class="tooltip">75%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">Sql Server</span>
      <div class="skill-bar">
        <span class="skill-per sqlServer">
          <span class="tooltip">75%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">Oracle PL/SQL</span>
      <div class="skill-bar">
        <span class="skill-per oracle">
          <span class="tooltip">35%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">MySql</span>
      <div class="skill-bar">
        <span class="skill-per mySql">
          <span class="tooltip">75%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">MongoDb</span>
      <div class="skill-bar">
        <span class="skill-per mongoDb">
          <span class="tooltip">25%</span>
        </span>
      </div>
    </div>
    <div class="skill-box">
      <span class="title">Azure DevOps</span>
      <div class="skill-bar">
        <span class="skill-per azure">
          <span class="tooltip">65%</span>
        </span>
      </div>
    </div>
    <div class="skill-box" data-anime="rigth">
      <span class="title">AWS</span>
      <div class="skill-bar">
        <span class="skill-per aws">
          <span class="tooltip">25%</span>
        </span>
      </div>
    </div>
  </div>
</aside>
