<div class="sobre">
  <div class="sobre-top">
    <div class="sobre-image">
      <img
        src="../../../assets/images/jpg/IMG_3366.jpeg"
        alt="foto sobre eduardo"
      />
    </div>
    <div class="sobre-texto">
      <h2>Sobre</h2>
      <p>
        Acredito no poder transformador da educação. Tive a oportunidade de
        concluir meu curso superior de
        <b>Bacharel em Sistemas de Informação</b>, uma experiência que alterou
        minha realidade social e econômica, proporcionando recursos para
        aprimorar meus estudos. Inspirado por isso, me dedico quase que
        diáriamente aos meus estudos.
      </p>
      <p>
        Ao longo de mais de 5 anos, focando no desenvolvimento de software.
        Sinto verdadeira paixão pelo que faço. Busco influenciar e motivar
        pessoas nesse caminho difíl e contínuo, mas se dedicando, abre um mundo
        de possibilidades!
      </p>
    </div>
  </div>
  <div class="sobre-perfil">
    <h3>
      <i class="fa-solid fa-code"></i>
      Desenvolvedor Sênior
    </h3>
    <p>
      Atualmente alocado como desenvolvedor Sênior pela Supero Tecnologia,
      atuando em projetos pontuais para desenvolvimento e melhorias de
      tecnologias.
    </p>
    <h4>
      <i class="fa-solid fa-circle-info"></i>
      Mais informações
    </h4>
    <div class="sobre-mais-informacoes">
      <div class="sobre-left">
        <ul>
          <li>
            <i class="fa-solid fa-check-square"></i> Niver:
            <span>27 de fevereiro</span>
          </li>
          <li>
            <i class="fa-solid fa-check-square"></i> Idade:
            {{ calcularIdade() }} anos
          </li>
          <li><i class="fa-solid fa-check-square"></i> Cidade: Salvador</li>
          <li><i class="fa-solid fa-check-square"></i> Estado: Bahia</li>
        </ul>
      </div>
      <div class="sobre-rigth">
        <ul>
          <li>
            <i class="fa-solid fa-check-square"></i>
            Hobby:
            <span>
              Futebol... Esporte Clube Bahia #BBMP
              <i class="fa-solid fa-heart heart-blue"></i>
              <i class="fa-solid fa-heart heart-red"></i>
              <i class="fa-solid fa-heart heart-white"></i>
            </span>
          </li>
          <li>
            <i class="fa-solid fa-check-square"></i>
            Site:
            <a
              href="https://ebdeveloper.netlify.app/"
              target="_blank"
              class="fw-lighter text-decoration-none link-dark"
              rel="noopener"
              >links.ebdeveloper</a
            >
          </li>
          <li><i class="fa-solid fa-check-square"></i> Experiência: +5 anos</li>
          <li>
            <i class="fa-solid fa-check-square"></i> Estado Civil: Divorciado
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
