.sobre{
display: flex;
flex-direction: column;

justify-content: center;
margin: 100px 0 5px 60px;
  padding: 10px;
  max-width: 80%;
  gap: 30px;
}

.sobre .sobre-top{
  display: flex;
  gap: 20px;
}
.sobre .sobre-image img{
  width: 280px;
  border-radius: 8px;
border: 3px solid #c5c5c5;
cursor: pointer;
transition:all 0.5s ease-in-out;
}
.sobre .sobre-image img:hover{
  width: 250px;
  transition:all 0.5s ease-in-out;
}

.sobre .sobre-texto h2{
  font-size: 2em;
  font-weight: 700;
  line-height: 3cap;

}
.sobre .sobre-texto p{
  font-size: 1.2em;
  letter-spacing: .8px;
  line-height: 2.5cap;
}
.sobre .sobre-perfil{
  border-top: 2px solid #c7c7c7;
  padding-top: 20px;
}
.sobre .sobre-perfil h4{
  margin-top: 30px;
}
.sobre .sobre-perfil .sobre-mais-informacoes{
  display: flex;
  gap: 30px;

  justify-content: space-between;
  padding: 20px;
}
.sobre-rigth .heart-blue{
  color: #0000ff
}
.sobre-rigth .heart-red{
  color: #ff0000
}
.sobre-rigth .heart-white{
  color: #e3e3e3
}
.sobre .sobre-mais-informacoes li{

  margin: 10px 0;
}
.sobre .sobre-mais-informacoes .fa-check-square{
  color: green;
}
@media (max-width: 600px){
  .sobre .sobre-top{
    flex-direction: column;
    gap: 5px;
  }
  .sobre .sobre-perfil .sobre-mais-informacoes{
    flex-direction: column;
    gap: unset;
    margin: 0;
    padding: 0;
  }
  .sobre{
    margin: 4px auto;

  }
}
