<div class="sobre">
  <div class="sobre-image">
    <img
      src="../../../assets/images/jpg/IMG_3366.jpeg"
      alt="foto sobre eduardo"
    />
  </div>
  <div class="sobre-texto">
    <h2>Sobre</h2>
    <p>
      Acredito no poder transformador da educação. Tive a oportunidade de
      concluir meu curso superior em <b>Sistemas de Informação</b>, uma
      experiência que alterou minha realidade social e econômica, proporcionando
      recursos para aprimorar meus estudos. Inspirado por isso, me dedico quase
      que diáriamente aos meus estudos. Ao longo de mais de 5 anos, focando no
      desenvolvimento de software. Sinto verdadeira paixão pelo que faço. Busco
      influenciar e motivar pessoas nesse caminho difíl e contínuo, mais que se
      dedicando, abre um mundo de possibilidades!
    </p>
  </div>
</div>
