.curriculo{
  margin-top: 150px;
  max-width: 80%;
}
.curriculo div {
  margin-top: 20px;
}
.curriculo ul{
  margin-left: 26px;
}
.curriculo li{
  margin-bottom: 20px;
}
.curriculo h3{
  font-size: 20px;
  font-weight: 700;
}
.curriculo .titulo{
  font-size: 16px;
  font-weight: 700;
}
