/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

:root{
  --dark-grey: #333333;
  --light-grey: #808080;
  --ligth-text: #EDEDED;
  --medium-text: #B0C4DE;
  --yellow: #FFB612;
  --medio-blue: #0000CD;
  --royal-blue: #4169E1;
}
*{
  font-family: 'Ubuntu';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Dancing';
  src: url('assets/fonts/Dancing/DancingScript-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Dancing';
  src: url('assets/fonts/Dancing/DancingScript-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Dancing';
  src: url('assets/fonts/Dancing/DancingScript-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Dancing';
  src: url('assets/fonts/Dancing/DancingScript-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
