/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

  @font-face {
  font-family: 'Caveat', cursive;
  src: url('assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
  :root{
  --dark-grey: #333333;
  --light-grey: #808080;
  --ligth-text: #EDEDED;
  --medium-text: #B0C4DE;
  --yellow: #FFB612;
  --medio-blue: #0000CD;
  --royal-blue: #4169E1;
  --ligth-Aqua: #00FFFF;
  --dark-medium-grey: #2c2f3f;
  --font-cursiva: 'Caveat', cursive;
  --font-padrao:'Rajdhani', sans-serif;
}

*{
  font-family: var(--font-padrao);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  width: 100vw;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

